.advice {
  position: relative;
}

.advice__content {
  margin-bottom: 48px;
  padding-bottom: 0;
}

.advice__list {
  position: relative;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  list-style: none;
}

.advice__item {
  position: relative;
  border-bottom: 1px solid $color__underline;
}

.advice__frame {
  height: 351px;
  background-color: $color__products-bg;
}

.advice__img {
  margin: 0 auto;
  padding-top: 113px;
  width: 313px;
}

.advice .slick-arrow {
  position: absolute;
  top: 148px;
  padding: 5px;
  width: 16px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: none;
  z-index: 2;
}

.advice .slick-prev {
  left: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 6px;
    height: 12px;
    background-image: url("../img/arrow.svg");
    background-size: cover;
  }
}

.advice .slick-next {
  right: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 6px;
    height: 12px;
    background-image: url("../img/arrow.svg");
    background-size: cover;
    transform: rotate(180deg);
  }
}

.advice__fav {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
  opacity: 0;
  pointer-events: none;
}

.advice__like {
  position: absolute;
  top: -5px;
  right: -4px;
  padding: 5px;
  width: 30px;
  height: 30px;
  font-size: 0;
  line-height: 20;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

.advice__icon use {
  fill: none;
  stroke-width: 20;
  stroke: $color__black;
  transition-duration: 0.2s;
}

.advice__fav:checked + .advice__like .advice__icon use {
  fill: $color__black;
  stroke: $color__black;
  transition-duration: 0.2s;
}

.advice__info {
  margin: 0;
  margin-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: $color__black;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.advice__name {
  position: relative;
  padding-right: 80px;
}

.advice__price {
  display: none;
  margin: 0;
}

@media (max-width: 767px) {
  .advice .container {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 100% * 16 / 375;
      width: calc(100% - 2 * 100% * 16 / 375);
      height: 1px;
      background-color: $color__underline;
    }
  }
}

@media (min-width: $width__tablet) {
  .advice__trigger + label {
    padding: 30px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: $color__black;
    text-align: center;
    text-transform: uppercase;
    border-top: none;
    pointer-events: none;

    &::before,
    &::after {
      display: none;
    }
  }

  .advice__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .advice__item {
    width: 31.73%;
  }

  .advice__frame {
    height: auto;
    font-size: 0;
  }

  .advice__img {
    margin: 0 auto;
    padding-top: 0;
    width: 100%;
  }

  .advice__name {
    padding-right: 40px;
  }
}

@media (min-width: $width__notebook) {
  .advice__content {
    margin-bottom: 88px;
  }

  .advice__trigger + label {
    padding: 48px 0 63px 0;
    font-size: 36px;
    line-height: 43px;
  }

  .advice__fav,
  .advice__like {
    display: none;
  }

  .advice__info {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 24px;
    border-bottom: none;
  }

  .advice__name {
    width: 75%;
  }

  .advice__link:hover .advice__frame {
    background-color: transparent;
  }

  .advice__price {
    display: block;
  }
}
