.guide {
  margin-top: 1.2rem;
  width: 100%;
  border-collapse: collapse;
}

.guide__headings {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: $color__black;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
}

.guide__row {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: $color__placeholder;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
  border-top: 1px solid $color__underline;
}

.guide__headings th,
.guide__row td {
  padding-top: 1.6rem;
  padding-bottom: 1.2rem;
}

.guide__headings th:not(:last-of-type) {
  padding-right: 8rem;
}

@media (min-width: $width__notebook) {
  .guide {
    margin-top: 2rem;
  }

  .guide__headings th,
  .guide__row td {
    padding: 1.2rem 0;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: $color__placeholder;
  }
}

@media (min-width: $width__desktop) {
  .guide {
    margin-top: 3rem;
  }

  .guide__headings th,
  .guide__row td {
    padding: 1.6rem 0;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
