.info {
  position: relative;
  margin-top: 24px;
}

.info__icon use {
  fill: none;
  stroke: $color__black;
  stroke-width: 20;
}

.info__product {
  margin: 0;
  padding: 0;
}

.info__name {
  padding-right: 30%;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: $color__black;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.info__price {
  margin: 0;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 100;
  line-height: 14px;
  color: $color__black;
}

.info__social {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 44px;
  padding: 0;
  line-height: 0;
  list-style: none;

  &::before {
    content: "contact:";
    position: absolute;
    top: -22px;
    left: 0;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    color: $color__placeholder;
    text-transform: uppercase;
  }
}

.info__network:not(:first-of-type) {
  margin-left: 25px;
}

.info__link {
  display: block;
}

.info__network--instagram .info__logo {
  width: 24px;
  height: 24px;
}

.info__network--telegram .info__logo {
  width: 26px;
  height: 21px;
}

.info__network--facebook .info__logo {
  width: 24px;
  height: 24px;
}

.info__logo use {
  fill: $color__social;
  transition-duration: 0.3s;
}

.info__link:hover .info__logo use {
  fill: $color__filter-active;
}

.info__link:active .info__logo use {
  opacity: 0.5;
}

@media (max-width: 767px) {
  .info__product {
    display: flex;
    flex-direction: column;
  }

  .info__details {
    order: 1;
  }

  .info__order {
    order: 2;
  }

  .info__social {
    order: 3;
  }
}

@media (min-width: $width__tablet) {
  .info__network--instagram .info__logo {
    width: 33px;
    height: 32px;
  }

  .info__network--telegram .info__logo {
    width: 37px;
    height: 29px;
  }

  .info__network--facebook .info__logo {
    width: 36px;
    height: 32px;
  }

  .info__network:not(:first-of-type) {
    margin-left: 48px;
  }
}

@media (min-width: $width__notebook) {
  .info {
    margin-top: 0;
    padding-right: 50px;
  }

  .info__name {
    font-size: 40px;
    line-height: 48px;
  }

  .info__price {
    margin-top: 24px;
    font-size: 24px;
    line-height: 29px;
  }

  .info__social {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 110px;
    padding: 0;
    line-height: 0;
    list-style: none;

    &::before {
      content: "contact:";
      position: absolute;
      top: -38px;
      left: 0;
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
      color: $color__placeholder;
      text-transform: uppercase;
    }
  }

  .info__link {
    display: block;
  }

  .info__logo use {
    fill: $color__social;
    transition-duration: 0.3s;
  }

  .info__link:hover .info__logo use {
    fill: $color__filter-active;
  }

  .info__link:active .info__logo use {
    opacity: 0.5;
  }
}

@media (min-width: $width__desktop) {
  .info {
    margin-top: 0;
    padding-right: 28%;
  }
}
