.order__size {
  position: relative;
  margin-top: 24px;
  font-size: 0;
}

.order__select {
  summary {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    height: 42px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: $color__placeholder;
    letter-spacing: 1px;
    background-color: $color__products-bg;
    outline: none;
    appearance: none;

    &::before {
      background-color: $color__icons;
    }

    &::after {
      background-color: $color__icons;
    }
  }

  .order__selection {
    background-color: $color__filter-bg--notebook;
    border: 1px solid $color__placeholder;
  }

  .order__selection.selection__method--selected {
    color: $color__black;
  }

  .order__list {
    padding-top: 0;
  }

  .order__list li {
    margin: 0;
    height: 42px;
    border-right: 1px solid $color__placeholder;
    border-bottom: 1px solid $color__placeholder;
    border-left: 1px solid $color__placeholder;

    label {
      display: flex;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
      height: 100%;
      background-color: $color__lightest;
    }

    label:hover {
      background-color: $color__filter-bg--notebook;
    }
  }

  .order__list > li > label {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: $color__placeholder;
    letter-spacing: 1px;
  }
}

.order__select[open] > summary.order__selection {
  color: $color__black;
  background-color: $color__lightest;

  &::after {
    background-color: $color__black;
  }
}

.order__link {
  display: none;
  margin-left: 48px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: $color__black;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.order__btn {
  margin-top: 24px;
}

.order__btn--passive {
  color: $color__lightest;
  background-color: $color__social;
  pointer-events: none;
}

.order__btn:not(.order__btn--passive):hover {
  color: $color__black;
  background-color: $color__lightest;
  outline: 1px solid $color__placeholder;
}

.order__like {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
}

.order__icon use {
  fill: none;
  stroke-width: 20;
  stroke: $color__black;
  transition-duration: 0.2s;
}

.order__fav:checked + .order__like .order__icon use {
  fill: $color__black;
  stroke: $color__black;
  transition-duration: 0.2s;
}

.order__fav {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
  opacity: 0;
  pointer-events: none;
}

@media (min-width: $width__tablet) {
  .order__size {
    margin-top: 40px;

    &::before {
      content: "size:";
      position: absolute;
      top: -22px;
      left: 0;
      font-size: 10px;
      font-weight: 300;
      line-height: 12px;
      color: #a2a2a2;
      text-transform: uppercase;
    }
  }
}

@media (min-width: $width__notebook) {
  .order__size {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-top: 74px;

    &::before {
      content: "size:";
      position: absolute;
      top: -38px;
      left: 0;
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
      color: #a2a2a2;
      text-transform: uppercase;
    }
  }

  .order__select {
    position: relative;
    width: 200px;
  }

  .order__select summary {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    height: 54px;
    width: 200px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: $color__placeholder;
    letter-spacing: 1px;
    outline: none;
    appearance: none;
    box-sizing: border-box;
  }

  .order__select .order__list > li > label {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: $color__placeholder;
    letter-spacing: 1px;
  }

  .order__link {
    display: inline-block;
    margin-top: 17px;
  }

  .order__buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .order__btn {
    margin-top: 48px;
    width: 80%;
    padding: 16px 30px 18px 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
    transition-duration: 0.3s;
    cursor: pointer;
  }

  .order__like {
    position: static;
    margin-top: auto;
    width: 56px;
    height: 56px;
    border: 1px solid $color__placeholder;
  }

  .order__like:hover .order__icon use {
    fill: $color__placeholder;
  }

  .order__icon use {
    stroke: $color__placeholder;
  }
}
