.content__frame {
  font-size: 0;
  overflow: hidden;
}

.content__img {
  width: 100%;
  height: 23.2rem;
  object-fit: cover;
}

.content__heading {
  margin: 0;
  margin-top: 2.4rem;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 4.6rem;
  color: $color__black;
  text-transform: uppercase;
  text-align: center;
}

.content__descriptor {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4rem;
  color: $color__black;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content__wrapper > .content__descriptor {
  margin-top: 2.4rem;
}

.content__list {
  margin: 0;
  margin-bottom: 4.8rem;
  padding: 0;
  list-style-position: inside;
}

.content__list--no-bullets {
  list-style: none;
}

.content__item {
  margin-top: 2.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.content__item > .content__descriptor {
  margin-top: 1.2rem;
}

@media (max-width: 767px) {
  .content > .container {
    padding: 0;
  }

  .content__heading,
  .content__wrapper > .content__descriptor,
  .content__list {
    padding: 0 100% * 16 / 375;
  }

  .content__heading {
    margin-right: auto;
    margin-left: auto;
    width: 37.5rem;
  }
}

@media (min-width: $width__tablet) {
  .content__heading {
    text-align: left;
  }
}

@media (min-width: $width__notebook) {
  .content__heading {
    font-size: 4rem;
    line-height: 4.8rem;
  }

  .content__wrapper > .content__descriptor {
    margin-top: 6.4rem;
  }

  .content__item {
    margin-top: 3rem;
  }

  li.content__item,
  .content__descriptor {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .content__item > .content__descriptor {
    margin-top: 0;
  }
}
