@media (min-width: $width__tablet) {
  .suede > .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 35rem 35rem 1fr;
    grid-row-gap: 2.4rem;
    padding-top: 2.4rem;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 100% * 15 / 768;
      width: calc(100% - 2 * 100% * 15 / 768);
      height: 1px;
      background-color: $color__underline;
    }
  }

  .suede__wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin: 0 auto;
    width: 80%;
  }

  h1.suede__heading {
    margin: 0;
  }

  .suede__frame--1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .suede__frame--2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  img.suede__img {
    height: 35rem;
  }
}

@media (min-width: $width__notebook) {
  .suede > .container {
    grid-template-rows: 53.5rem 53.5rem 1fr;
    grid-row-gap: 8rem;
    padding-top: 4.6rem;

    &::before {
      display: none;
    }
  }

  .suede__wrapper {
    margin: 0 auto;
    width: 50rem;
  }

  img.suede__img {
    height: 53.5rem;
  }
}

@media (min-width: $width__desktop) {
  .suede__wrapper {
    width: 57.9rem;
  }

  img.suede__img {
    width: 89.2rem;
  }
}
