.products {
  font-size: 1rem;
}

.products__list {
  display: grid;
  grid-auto-rows: 100vw;
  grid-row-gap: 0.8em;
  margin: 0.8em 0;
  padding: 0;
  list-style: none;
}

.products__item {
  position: relative;
  overflow: hidden;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
    background-size: cover;
    background-color: $color__separators;
    background-position: 50% 70%;
    background-repeat: no-repeat;
  }
}

.products__item:hover::before {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.products__item--1::before {
  background-image: url("../img/product__item-bg--1@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/product__item-bg--1@2x.jpg");
  }
}

.products__item--2::before {
  background-image: url("../img/product__item-bg--2@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/product__item-bg--2@2x.jpg");
  }
}

.products__item--3::before {
  background-image: url("../img/product__item-bg--3@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/product__item-bg--3@2x.jpg");
  }
}

.products__item--4::before {
  background-image: url("../img/product__item-bg--4@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/product__item-bg--4@2x.jpg");
  }
}

.products__item--5::before {
  background-image: url("../img/product__item-bg--5@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/product__item-bg--5@2x.jpg");
  }
}

.products__item--6::before {
  background-image: url("../img/product__item-bg--6@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/product__item-bg--6@2x.jpg");
  }
}

.products__item--7::before {
  background-image: url("../img/product__item-bg--7@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/product__item-bg--7@2x.jpg");
  }
}


.products__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.products__name {
  --name-font-size-em: 2.8;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: calc(1em * var(--name-font-size-em));
  font-weight: 300;
  line-height: normal;
  color: $color__lightest;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: "shop now";
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0.8rem;
    width: 9.8rem;
    min-height: 3.6rem;
    font-size: 1rem;
    font-weight: 500;
    color: $color__lightest;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid $color__lightest;
  }
}

.products__hook {
  display: none;
  margin: 0;
}

@media (max-width: 767px) {
  .products > .container {
    padding: 0;
  }
}

@media (min-width: $width__tablet) {
  .products__list {
    margin: 2em 0;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 23.2em;
    grid-gap: 2em;
  }

  .products__item--3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .products__item--5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .products__item:last-of-type {
    grid-column: 2 / -1;
  }
}

@media (min-width: $width__notebook) {
  .products__list {
    margin: 4.4em 0;
    grid-auto-rows: 35em;
    grid-gap: 4.4em;
  }

  .products__link {
    position: relative;
    justify-content: flex-start;
    padding-top: 9em;

    &::before {
      --text-content: "shop now";
      --font-size-em: 2;
      content: var(--text-content);
      position: absolute;
      top: calc(17.5em / var(--font-size-em));
      left: calc(50% - 14em / var(--font-size-em));
      padding: calc(2.3em / var(--font-size-em)) 0;
      width: calc(28em / var(--font-size-em));
      font-size: calc(1em * var(--font-size-em));
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 2.08px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .products__item--name .products__link {
    padding-top: calc(9em - 2.2em);
  }

  .products__item--light .products__link,
  .products__item--light .products__name {
    color: $color__lightest;

    &::before {
      color: $color__lightest;
      border: 1.5px solid $color__lightest;
    }
  }

  .products__item--dark .products__link,
  .products__item--dark .products__name {
    color: $color__black;

    &::before {
      color: $color__black;
      border: 1.5px solid $color__black;
    }
  }

  .products__item--discover .products__link {
    &::before {
      --text-content: "discover";
    }
  }

  .products__name {
    --name-font-size-em: 1.8;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 0;
    font-weight: 300;
    line-height: calc(2.2 / 1.8);
    background-color: transparent;

    &::after {
      display: none;
    }
  }

  .products__highlight {
    --highlight-font-size-em: 5;
    font-size: calc(1em * var(--highlight-font-size-em) / var(--name-font-size-em));
    font-weight: 300;
    line-height: 1.3;
  }
}

@media (min-width: $width__desktop) {
  .products__list {
    grid-auto-rows: 52.1em;
  }

  .products__link {
    padding-top: 14.6em;

    &::before {
      top: calc(26.4em / var(--font-size-em));
    }
  }

  .products__item--name .products__link {
    padding-top: calc(14.6em - 2.2em);
  }

  .products__highlight {
    --highlight-font-size-em: 6.8;
    line-height: calc(82 / 68);
  }
}
