.promo {
  font-size: 1rem;
}

.promo__list {
  position: relative;
  margin: 0;
  padding: 0;
  height: calc(100vw * 444 / 375);
  list-style: none;
}

.promo__item {
  background-color: $color__separators;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.promo__item--1 {
  background-image: url("../img/promo__item-bg--1@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/promo__item-bg--1@2x.jpg");
  }
}

.promo__item--2 {
  background-image: url("../img/promo__item-bg--2@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/promo__item-bg--2@2x.jpg");
  }
}

.promo__item--3 {
  background-image: url("../img/promo__item-bg--3@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/promo__item-bg--3@2x.jpg");
  }
}

.promo__slogan {
  --promo-font-size-em: 3.2;
  margin: 0 auto;
  margin-top: calc(6.4em / var(--promo-font-size-em));
  width: calc(28.6em / var(--promo-font-size-em));
  font-size: calc(1em * var(--promo-font-size-em));
  font-weight: 300;
  line-height: 1.4375;
  color: $color__lightest;
  text-align: center;
  text-transform: uppercase;
}

.promo__item--3 .promo__slogan {
  color: $color__darkest2;
}

@media (min-width: $width__tablet) {
  .promo__list {
    height: calc(100vh - 5em);
  }

  .promo__slogan {
    --promo-font-size-em: 8;
    width: calc(76.8em / var(--promo-font-size-em));
    line-height: calc(10em / var(--promo-font-size-em));
  }
}

@media (min-width: $width__notebook) {
  .promo__list {
    height: calc(100vh - 10em);
  }

  .promo__slogan {
    --promo-font-size-em: 10;
    width: calc(95em / var(--promo-font-size-em));
    line-height: 1.3;
  }

  .promo__item--1 .promo__slogan {
    text-align: left;
  }

  .promo__item--3 .promo__slogan {
    width: calc(100em / var(--promo-font-size-em));
  }
}

@media (min-width: $width__desktop) {
  .promo__slogan {
    --promo-font-size-em: 12;
    width: calc(115.5em / var(--promo-font-size-em));
    line-height: calc(17 / 12);
  }

  .promo__item--3 .promo__slogan {
    width: calc(115.5em / var(--promo-font-size-em));
  }
}
