.smm {
  font-size: 1rem;
}

.smm--tablet-plus {
  display: none;
}

.smm--sent .smm__newsletter {
  padding-bottom: 2.5em;
}

.smm--sent .smm__invitation,
.smm--sent .smm__form {
  display: none;
}

.smm--sent .smm__success {
  display: block;
}

.smm__instagram {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4.8em;
}

.smm--no-top-border .smm__instagram {
  border: none;
}

.smm__invitation {
  margin: 0;
  font-weight: 300;
  line-height: normal;
  color: $color__black;
  text-transform: uppercase;
  text-align: center;
}

.smm__invitation--instagram {
  --font-size-em: 0.9;
  font-size: calc(1em * var(--font-size-em));
}

.smm__link {
  --font-size-em: 3.2;
  display: inline-block;
  margin-top: calc(0.4em / var(--font-size-em));
  font-family: inherit;
  font-size: calc(1em * var(--font-size-em));
  font-weight: 300;
  line-height: calc(4.6 / 3.2);
  color: $color__darkest2;
  text-transform: uppercase;
}

.smm__list {
  margin: 0;
  margin-top: 1.6em;
  padding: 0;
  list-style: none;
}

.smm__item:not(.smm__item--mobile) {
  display: none;
}

.smm__img {
  margin-top: 1.6em;
  width: 100%;
}

.smm__newsletter {
  padding-bottom: 4.8em;
}

.smm__invitation:not(.smm__invitation--instagram) {
  --font-size-em: 2.8;
  margin-top: calc(3.2em / var(--font-size-em));
  font-size: calc(1em * var(--font-size-em));
  line-height: calc(3.4 / 2.8);
}

.smm__email {
  --font-size-em: 1.2;
  margin-top: calc(3.2em / var(--font-size-em));
  padding: calc(1.2em / var(--font-size-em)) calc(1.6em / var(--font-size-em));
  width: 100%;
  font-family: inherit;
  font-size: calc(1em * var(--font-size-em));
  font-weight: 100;
  line-height: calc(1.4 / 1.2);
  color: $color__black;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid $color__underline;
}

.smm__email::placeholder {
  color: $color__placeholder;
  text-transform: uppercase;
}

.smm:not(.smm--sent) .smm__success {
  display: none;
}

.smm__success {
  --font-size-em: 2.8;
  margin: calc(2em / var(--font-size-em)) auto 0 auto;
  padding: 10px 0%;
  width: calc(34.3em / var(--font-size-em));
  font-size: calc(1em * var(--font-size-em));
  font-weight: 300;
  line-height: normal;
  color: $color__black;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid $color__underline;
}

@media (max-width: 767px) {
  .smm > .container {
    padding: 0;
  }
}

@media (min-width: $width__tablet) {
  .smm:not(.smm--catalog):not(.smm--tablet-plus):not(.smm--all) {
    display: none;
  }

  .smm--tablet-plus {
    display: block;
  }

  .smm--subscribe-only .smm__instagram {
    display: none;
  }

  .smm--subscribe-only .smm__newsletter {
    margin: 0;
    padding-top: 6.2em;
    padding-bottom: 7.4em;
    border-top: 1px solid $color__underline;
  }

  .smm__invitation--instagram {
    --font-size-em: 1.2;
  }

  .smm__link {
    --font-size-em: 3.5;
    margin-top: calc(0.6em / var(--font-size-em));
    line-height: calc(4.9 / 3.5);
  }

  .smm__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .smm__item {
    width: 100% * 180 / 738;
  }

  .smm__item:not(.smm__item--mobile) {
    display: block;
  }

  .smm--sent .smm__newsletter {
    padding-bottom: 5em;
  }

  .smm__newsletter > .container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 5em;
    padding: 0;
  }

  .smm__invitation:not(.smm__invitation--instagram) {
    margin: 0 auto;
  }

  .smm__form {
    width: 30em;
  }

  .smm__email {
    margin-top: 0;
  }

  .smm__success {
    --font-size-em: 2.8;
    margin: 0 auto;
    padding: calc(1em / var(--font-size-em)) 0;
    width: calc(50em / var(--font-size-em));
  }
}

@media (min-width: $width__notebook) {
  .smm__instagram {
    margin-top: 12.4em;
    padding-top: 6.4em;
    border-top: 1px solid $color__underline;
  }

  .smm--all .smm__instagram {
    margin-top: 0;
  }

  .smm__invitation--instagram {
    --font-size-em: 1.8;
    line-height: calc(2.2 / 1.8);
    letter-spacing: 1px;
  }

  .smm__link {
    --font-size-em: 6.8;
    margin-top: calc(0.6em / var(--font-size-em));
    line-height: calc(8.2 / 6.8);
  }

  .smm__list {
    margin-top: 4.8em;
  }

  .smm__item {
    width: 100% * 290 / 1200;
  }

  .smm--sent .smm__newsletter {
    padding-bottom: 8.5em;
  }

  .smm--subscribe-only .smm__newsletter {
    padding-top: 12.4em;
    padding-bottom: 14.8em;
  }

  .smm__newsletter {
    margin-top: 8em;
    padding-bottom: 14.9em;
  }

  .smm__invitation:not(.smm__invitation--instagram) {
    --font-size-em: 3.6;
    margin: 0;
    margin-right: auto;
    margin-left: calc(15.5em / var(--font-size-em));
    line-height: calc(4.3 / 3.6);
  }

  .smm__form {
    width: 100% * 500 / 1200;
  }

  .smm__email {
    --font-size-em: 1.8;
    padding: calc(1.2em / var(--font-size-em)) calc(1.6em / var(--font-size-em));
    font-weight: 300;
    line-height: calc(2.2 / 1.8);
  }

  .smm__success {
    --font-size-em: 3.6;
    margin: 0 auto;
    padding: calc(1.6em / var(--font-size-em)) calc(4em / var(--font-size-em));
    width: calc(80.5em / var(--font-size-em));
  }
}

@media (min-width: $width__desktop) {
  .smm--faq .smm__instagram {
    margin-top: 0;
  }

  .smm__item {
    width: 42.5em;
  }

  .smm__form {
    width: 80.5em;
  }
}
