.footer {
  --footer-font-em: 1.2;
  --footer-line-height: calc(1.4 / var(--footer-font-em));
  font-size: 1rem;
  transition-duration: 0.5s;
}

.footer > .container {
  padding-top: 2em;
  padding-bottom: 1.8em;
  background-color: $color__footer-bg;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item {
  position: relative;
  padding: calc(1.2em / var(--footer-font-em)) calc(1.7em / var(--footer-font-em));
  font-size: calc(1em * var(--footer-font-em));
  font-weight: 700;
  line-height: var(--footer-line-height);
  color: $color__lightest;
  text-transform: uppercase;
  letter-spacing: 1px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(1.7em / var(--footer-font-em));
    width: calc(1.3em / var(--footer-font-em));
    height: 1px;
    background-color: $color__icons;
    transform: rotate(0);
    transition-duration: 0.3s;
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(1.7em / var(--footer-font-em));
    width: calc(1.3em / var(--footer-font-em));
    height: 1px;
    background-color: $color__icons;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    transition-duration: 0.3s;
    opacity: 1;
  }
}

.footer__content {
  display: none;
  margin: 0;
}

.footer__item--opened + .footer__content {
  display: block;
}

.footer__item--opened {
  &::before {
    transform: rotate(45deg);
    opacity: 0;
  }

  &::after {
    transform: rotate(0);
  }
}

.footer__item:not(:last-of-type) {
  border-bottom: 1px solid $color__underline;
}

.footer__submenu {
  margin: 0;
  padding: 1.2em 1.5em;
  list-style: none;
  border-bottom: 1px solid $color__underline;
}

.footer__content:last-of-type .footer__submenu {
  border-top: 1px solid $color__underline;
}

.footer__link {
  font-size: calc(1em * var(--footer-font-em));
  font-weight: 700;
  line-height: var(--footer-line-height);
  color: $color__icons;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer__subitem:not(:last-of-type) {
  margin-bottom: 0.8em;
}

.footer__copyright {
  margin: 0;
  margin-top: calc(3.6em / var(--footer-font-em));
  padding: 0 calc(3.6em / var(--footer-font-em));
  font-size: calc(1em * var(--footer-font-em));
  font-weight: 500;
  line-height: var(--footer-line-height);
  color: $color__icons;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__origin {
  margin-left: calc(1em / var(--footer-font-em));
}

.footer__designer {
  display: none;
}

@media (min-width: $width__tablet) {
  .footer {
    --footer-font-em: 1.5;
    --footer-line-height: calc(1.8 / var(--footer-font-em));
  }

  .footer > .container {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
  }

  .footer__list {
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }

  .footer__item {
    &::before,
    &::after {
      display: none;
    }
  }

  .footer__item--2 {
    display: none;
  }

  .footer__item--3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: right;
  }

  .footer__item:not(:last-of-type) {
    border-bottom: none;
  }

  .footer__item--1 + .footer__content {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .footer__item--2 + .footer__content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .footer__item--3 + .footer__content {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    text-align: right;
  }

  .footer__content {
    display: block;
  }

  .footer__content:last-of-type .footer__submenu {
    border-top: none;
  }

  .footer__submenu {
    padding: 2.5em 1.5em;
    border-bottom: none;
  }

  .footer__subitem:not(:last-of-type) {
    margin-bottom: 1.5em;
  }

  .footer__credits {
    display: flex;
    justify-content: space-between;
    margin-top: 6em;
  }

  .footer__copyright {
    display: flex;
    margin-top: 0;
  }

  .footer__origin {
    margin-left: calc(2em / var(--footer-font-em));
  }

  .footer__designer {
    display: block;
    margin: 0;
    font-size: calc(1em * var(--footer-font-em));
    line-height: var(--footer-line-height);
    font-weight: 500;
    color: $color__icons;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@media (min-width: $width__notebook) {
  .footer {
    --footer-font-em: 1.8;
    --footer-line-height: calc(2.2 / var(--footer-font-em));
  }

  .footer > .container {
    padding: 6.5em 100% * 199 / 1920 6.6em 100% * 199 / 1920;
  }

  .footer__list {
    grid-template-columns: 35% 45% 20%;
  }

  .footer__item {
    padding: 0 0 calc(3.3em / var(--footer-font-em)) 0;
  }

  .footer__submenu {
    padding: 3.3em 0;
    border-bottom: none;
  }

  .footer__credits {
    margin-top: 13.2em;
  }

  .footer__copyright {
    padding: 0;
  }
}
