.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1rem;
  z-index: 5;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5em;
  background-color: $color__darkest;
  transition-duration: 0.5s;
}

.header__logo {
  order: 2;
  z-index: 5;
}

.header__logo-icon use {
  fill: $color__lightest;
}

.header__nav {
  order: 1;
}

.header__nav-shop {
  order: 3;
}

.header svg use {
  transition-duration: 0.5s;
}

@media (min-width: $width__tablet) {
  .header > .container {
    align-items: stretch;
    min-height: 6rem;
  }

  .header__logo {
    align-self: center;
  }
}

@media (min-width: $width__notebook) {
  .header > .container {
    min-height: 10em;
    align-items: stretch;
  }

  .header__logo-icon {
    width: 20.1em;
    height: 3.6em;
  }
}
