.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color__darkest;
  z-index: 3;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  transition-duration: 0.5s;
}

.header__logo {
  order: 2;
}

.header__logo-icon use {
  fill: $color__lightest;
}

.header__nav {
  order: 1;
}

.header__nav-shop {
  order: 3;
}
