.low-lvl {
  --link-font-size-em: 1.4;
  font-size: 1rem;
}

.low-lvl__item:not(:last-of-type) {
  margin-bottom: 1.6em;
}

.low-lvl__item--sale {
  margin-top: 3.6em;
}

.low-lvl__link {
  font-size: calc(1em * var(--link-font-size-em));
  font-weight: 300;
  line-height: normal;
  color: $color__black;
  text-transform: uppercase;
}

.low-lvl__link:not(.low-lvl__item--sale):hover {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color__black;
  }
}

.low-lvl__item--sale .low-lvl__link:hover {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color__highlight;
  }
}

.low-lvl__img {
  display: none;
}

.low-lvl__item--sale .low-lvl__link {
  color: $color__highlight;
}

@media (min-width: $width__tablet) {
  .low-lvl {
    --link-font-size-em: 1.8;
  }

  .low-lvl__item:not(:last-of-type) {
    margin-bottom: 2em;
  }

  .low-lvl__item--sale {
    margin-top: 5.2em;
  }
}

@media (min-width: $width__notebook) {
  .low-lvl__item:not(:last-of-type) {
    margin-bottom: 3.6em;
  }

  .low-lvl__img {
    position: absolute;
    top: 3.6em;
    left: 100% * 46 / 1920;
    width: 66.6em;
    height: 45.6em;
    object-fit: cover;
  }

  .low-lvl__link {
    font-size: 24px;
    line-height: 29px;
  }
}
