.nav-shop__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-shop__item:not(:first-of-type) {
  margin-left: 23px;
}

.nav-shop__item--tablet-plus {
  display: none;
}

.nav-shop__link {
  display: block;
  font-size: 0;
  background-color: transparent;
}

.nav-shop__icon use {
  fill: none;
  stroke: $color__icons;
}

.nav-shop__link--active use {
  fill: $color__icons;
}

.nav-shop__icon--fav use {
  stroke-width: 40px;
}

@media (min-width: $width__tablet) {
  .nav-shop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 41%;
  }

  .nav-shop__list {
    justify-content: flex-end;
  }

  .nav-shop__item--tablet-plus {
    display: block;
  }

  .nav-shop__item:not(:first-of-type) {
    margin-left: 0;
  }

  .nav-shop__item:not(.nav-shop__item--faq) {
    margin-left: 23px;
  }

  .nav-shop__item--faq {
    order: 1;
    margin-left: 0;
  }

  .nav-shop__item--whishlist {
    order: 2;
  }

  .nav-shop__item--sign {
    order: 3;
  }

  .nav-shop__item--bag {
    order: 4;
  }

  .nav-shop__link {
    display: block;
    font-family: inherit;
    font-size: 10px;
    font-weight: 300;
    line-height: normal;
    color: $color__icons;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .nav-shop__item .nav-shop__link {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: transparent;
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 2px;
      width: 100%;
      transform: translateX(-100%);
      background-color: transparent;
      pointer-events: none;
    }
  }

  .nav-shop__link:not(.link--active):hover {
    &::before {
      background-color: $color__underline;
    }

    &::after {
      background-color: $color__footer-bg;
      transform: translateX(0);
      transition-duration: 1s;
      transition-property: transform;
    }
  }

  .nav-shop__item--selected .nav-shop__link {
    color: $color__lightest;
  }

  .nav-shop__icon {
    display: none;
  }
}

@media (min-width: $width__notebook) {
  .nav-shop__link {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: $color__icons;
    letter-spacing: 1.42px;
    text-transform: uppercase;
  }
}
