.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.nav__item {
  display: flex;
  align-items: center;
  font-size: 0;
}

.nav__item:not(:first-of-type) {
  margin-left: 24px;
}

.nav__item--tablet-plus {
  display: none;
}

.nav__link {
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
}

li.nav__item--selected > .nav__link {
  color: $color__lightest;
}

.nav__item:not(.nav__item--selected) .nav__link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: transparent;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;
    transform: translateX(-100%);
    background-color: transparent;
  }
}

.nav__item:not(.nav__item--selected):hover > .nav__link {
  &::before {
    background-color: $color__underline;
  }

  &::after {
    background-color: $color__footer-bg;
    transform: translateX(0);
    transition-duration: 1s;
    transition-property: transform;
  }
}

.nav__icon use,
.nav__icon use rect {
  fill: $color__icons;
}

@media (min-width: $width__tablet) {
  .nav {
    display: flex;
    align-items: center;
    width: 41%;
  }

  .nav__item:not(:first-of-type):not(.nav__item--tablet-plus) {
    margin-left: 0;
  }

  .nav__item--search {
    display: none;
  }

  .nav__item--tablet-plus {
    display: block;
    margin-left: 24px;
  }

  .nav__item--search + .nav__item--tablet-plus {
    margin-left: 0;
  }

  .nav__item--tablet-plus .nav__link {
    position: relative;
    display: block;
    font-family: inherit;
    font-size: 11px;
    font-weight: 300;
    line-height: normal;
    color: $color__icons;
    letter-spacing: 1.42px;
    text-transform: uppercase;
  }

  .nav__link--menu {
    display: none;
  }
}

@media (min-width: $width__notebook) {
  .nav__item {
    height: auto;
  }

  .nav__item:not(.nav__item--search) {
    display: flex;
    align-items: center;
  }

  .nav__item--tablet-plus .nav__link {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: $color__icons;
    letter-spacing: 1.42px;
    text-transform: uppercase;
  }
}
