.nav {
  font-size: 1rem;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.nav__item {
  display: flex;
  align-items: center;
  line-height: 0;
  color: transparent;
}

.nav__item:not(:first-of-type) {
  margin-left: 2.4em;
}

.nav__item--tablet-plus {
  display: none;
}

.nav__item--search.nav__item--tablet-plus {
  display: block;
}

.nav__link {
  position: relative;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
}

a.link--active {
  color: $color__lightest;
}

.link--active > svg use {
  stroke: $color__lightest;
}

li.nav__item--selected > .nav__link {
  color: $color__lightest;
}

.nav__icon use,
.nav__icon use rect {
  fill: $color__icons;
}

.nav__icon--search use {
  fill: none;
}

@media (min-width: $width__tablet) {
  .nav {
    --nav-font-size-em: 1;
    display: flex;
    align-items: center;
    width: 41%;
  }

  .nav__item:not(:first-of-type):not(.nav__item--tablet-plus) {
    margin-left: 0;
  }

  .nav__item--men {
    order: 1;
  }

  .nav__item--women {
    order: 2;
  }

  .nav__item--search {
    order: 3;
  }

  .nav__item--about {
    order: 4;
  }

  .nav__icon--search {
    display: none;
  }

  .nav__item--tablet-plus {
    display: block;
    margin-left: 2.4em;
  }

  .nav__item--search + .nav__item--tablet-plus {
    margin-left: 0;
  }

  .nav__item--tablet-plus .nav__link {
    position: relative;
    display: block;
    font-family: inherit;
    font-size: calc(1em * var(--nav-font-size-em));
    font-weight: 300;
    line-height: normal;
    color: $color__icons;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .nav__link--menu {
    display: none;
  }

  .nav__item:not(.nav__item--selected) > .nav__link {
    &::before {
      content: "";
      position: absolute;
      bottom: calc(-0.3em / var(--nav-font-size-em));
      left: 0;
      height: 2px;
      width: 100%;
      background-color: transparent;
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: calc(-0.3em / var(--nav-font-size-em));
      left: 0;
      height: 2px;
      width: 100%;
      transform: translateX(-100%);
      background-color: transparent;
      pointer-events: none;
    }
  }

  .nav__item:not(.nav__item--selected):hover > .nav__link {
    &::before {
      background-color: $color__underline;
      pointer-events: none;
    }

    &::after {
      background-color: $color__footer-bg;
      transform: translateX(0);
      transition-duration: 1s;
      transition-property: transform;
      pointer-events: none;
    }
  }
}

@media (min-width: $width__notebook) {
  .nav__item {
    --nav-font-size-em: 1.8;
    height: auto;
  }

  .nav__item:not(.nav__item--search) {
    display: flex;
    align-items: center;
  }

  .nav__item--tablet-plus .nav__link {
    font-weight: 700;
    letter-spacing: 1.42px;
  }
}
