// Slick settings for section.profile slider

.promo__list .slick-list,
.promo__list .slick-track {
  height: 100%;
}

.promo__list .slick-dots {
  position: absolute;
  bottom: 5.1rem;
  left: calc(50% - 4.5rem);
  display: flex;
  align-items: center;
  padding: 0;
}

.promo__list .slick-dots > li {
  font-size: 0;
}

.promo__list .slick-dots > li:not(:last-of-type) {
  margin-right: 2.4rem;
}

.promo__list .slick-dots > li > button {
  margin: 0;
  padding: 0;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 0;
  line-height: 0;
  background-color: $color__lightest;
  border: 2px solid $color__lightest;
  border-radius: 50%;
  cursor: pointer;
}

.promo__list .slick-dots > li:not(.slick-active) > button {
  background-color: transparent;
}
