.submenu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  width: 324px;
  height: 100vh;
  font-size: 16px;
  background-color: white;
  transform: translate(-324px);
  overflow-y: auto;
}

.submenu__header {
  display: flex;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 15px;
  border-bottom: 1px solid $color__separators;
  min-height: 50px;
}

.submenu__title {
  margin: 0;
  font-family: $font__main;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: $color__black;
  text-transform: uppercase;
}

.submenu__btn {
  position: relative;
  margin-left: auto;
  padding: 0;
  width: 12px;
  height: 12px;
  font-size: 0;
  background-color: transparent;
  border: none;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 150%;
    height: 1px;
    background-color: $color__black;
    transform-origin: 0 0;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150%;
    height: 1px;
    background-color: $color__black;
    transform-origin: 0 0;
    transform: rotate(-45deg);
  }
}

.submenu__content:not(.submenu__content--top):not(.submenu__content--lang) {
  padding-bottom: 243px;
  background-repeat: no-repeat;
  background-size: 100% 180px;
  background-position: 0 100%;
}

.submenu__content--women {
  background-image: url("../img/submenu__bg--women@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/submenu__bg--women@2x.jpg");
  }
}

.submenu__content--men {
  background-image: url("../img/submenu__bg--men@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/submenu__bg--men@2x.jpg");
  }
}

.submenu__content--lang {
  padding-bottom: 395px;
  background-image: url("../img/submenu__bg--lang@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 347px;
  background-position: 0 100%;

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/submenu__bg--lang@2x.jpg");
  }
}

.submenu__content--hidden {
  display: none;
}

.submenu__content {
  margin-top: 36px;
}

.submenu__list {
  display: grid;
  grid-template-columns: repeat(2, 132px);
  grid-auto-rows: calc(198px + 24px);
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.submenu__content:not(.submenu__content--top) .submenu__list {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

.submenu__category {
  display: block;
  margin-top: 16px;
  font-family: $font__main;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: $color__font-submenu;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.submenu__back {
  display: flex;
  align-items: center;
  padding: 0;
  font-family: $font__main;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: $color__font-submenu;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.submenu__icon {
  margin-right: 12px;
}

.submenu__icon use {
  stroke: $color__black;
  fill: none;
}

.submenu__footer {
  margin-top: auto;
}

@media (min-width: $width__tablet) {
  .submenu {
    top: 50px;
    left: 0;
    padding: 0 100% * 15 / 768;
    height: auto;
    min-height: 476px;
    width: 100%;
    transform: translateY(-110%);
    transition-duration: 0.2s;
    z-index: -1;
  }

  .submenu--open {
    transform: translateY(0);
  }

  .submenu__content {
    margin-top: 0;
  }

  .submenu__content:not(.submenu__content--top):not(.submenu__content--lang) {
    padding-bottom: 69px;
    background-repeat: no-repeat;
    background-size: 303px 455px;
    background-position: 0 36px;
  }

  .submenu__content--men {
    background-image: url("../img/submenu__bg--menTabletPlus@1x.jpg");

    @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
      background-image: url("../img/submenu__bg--menTabletPlus@2x.jpg");
    }
  }

  .submenu__content--women {
    background-image: url("../img/submenu__bg--womenTabletPlus@1x.jpg");

    @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
      background-image: url("../img/submenu__bg--womenTabletPlus@2x.jpg");
    }
  }

  .submenu__header,
  .submenu__content--top,
  .submenu__footer {
    display: none;
  }

  .submenu__back {
    display: none;
  }

  .submenu__list {
    margin-top: 36px;
    margin-left: auto;
    padding-top: 48px;
    width: 100% * 582 / 1920;
    border-top: 1px solid $color__underline;
  }
}

@media (min-width: $width__notebook) {
  .submenu {
    top: 102px;
    padding: 0 100% * 46 / 1920;
  }
}
