.submenu {
  --title-font-size-em: 1.4;
  --item-font-size-em: 1.2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 1.6em;
  width: 32.4em;
  height: 100vh;
  font-size: 1rem;
  background-color: white;
  transform: translate(-32.4em);
  overflow-y: auto;
}

.submenu__header {
  display: flex;
  align-items: center;
  padding-top: 1.7em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid $color__separators;
  min-height: 5em;
}

.submenu__title {
  margin: 0;
  font-family: $font__main;
  font-size: calc(1em * var(--title-font-size-em));
  font-weight: 300;
  line-height: normal;
  color: $color__black;
  text-transform: uppercase;
}

.submenu__btn {
  position: relative;
  margin-left: auto;
  padding: 0;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0;
  background-color: transparent;
  border: none;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -0.1rem;
    left: 0;
    width: 150%;
    height: 1px;
    background-color: $color__black;
    transform-origin: 0 0;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150%;
    height: 1px;
    background-color: $color__black;
    transform-origin: 0 0;
    transform: rotate(-45deg);
  }
}

.submenu__content:not(.submenu__content--top):not(.submenu__content--lang) {
  padding-bottom: 24.3em;
  background-repeat: no-repeat;
  background-size: 100% 18em;
  background-position: 0 100%;
}

.submenu__content--women {
  background-image: url("../img/submenu__bg--women@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/submenu__bg--women@2x.jpg");
  }
}

.submenu__content--men {
  background-image: url("../img/submenu__bg--men@1x.jpg");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/submenu__bg--men@2x.jpg");
  }
}

.submenu__content--lang {
  padding-bottom: 39.5em;
  background-image: url("../img/submenu__bg--lang@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 34.7em;
  background-position: 0 100%;

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/submenu__bg--lang@2x.jpg");
  }
}

.submenu__content--hidden {
  display: none;
}

.submenu__content {
  margin-top: 3.6em;
}

.submenu__list {
  display: grid;
  grid-template-columns: repeat(2, 13.2em);
  grid-auto-rows: calc(19.8em + 2.4em);
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.submenu__content:not(.submenu__content--top) .submenu__list {
  display: flex;
  flex-direction: column;
  margin-top: 3.6em;
}

.submenu__link {
  display: block;
}

.submenu__img {
  width: 100%;
}

.submenu__category {
  display: block;
  margin-top: calc(1.6em / var(--item-font-size-em));
  font-family: $font__main;
  font-size: calc(1em * var(--item-font-size-em));
  font-weight: 700;
  line-height: normal;
  color: $color__font-submenu;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.submenu__back {
  display: flex;
  align-items: center;
  padding: 0;
  font-family: $font__main;
  font-size: calc(1em * var(--item-font-size-em));
  font-weight: 700;
  line-height: 1;
  color: $color__font-submenu;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.submenu__icon {
  margin-right: calc(1.2em / var(--item-font-size-em));
}

.submenu__icon use {
  stroke: $color__black;
  fill: none;
}

.submenu__footer {
  margin-top: auto;
}

@media (min-width: $width__tablet) {
  .submenu {
    top: 5em;
    left: 0;
    padding: 0 100% * 15 / 768;
    height: auto;
    min-height: 47.6em;
    width: 100%;
    transform: translateY(-130%);
    transition-duration: 0.4s;
    z-index: -1;
  }

  .submenu--open {
    transform: translateY(0);
  }

  .submenu__content {
    margin-top: 0;
  }

  .submenu__content:not(.submenu__content--top):not(.submenu__content--lang) {
    padding-bottom: 6.9em;
    background-repeat: no-repeat;
    background-size: 30.3em 45.5em;
    background-position: 0 3.6em;
  }

  .submenu__content--men {
    background-image: url("../img/submenu__bg--menTabletPlus@1x.jpg");

    @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
      background-image: url("../img/submenu__bg--menTabletPlus@2x.jpg");
    }
  }

  .submenu__content--women {
    background-image: url("../img/submenu__bg--womenTabletPlus@1x.jpg");

    @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
      background-image: url("../img/submenu__bg--womenTabletPlus@2x.jpg");
    }
  }

  .submenu__header,
  .submenu__content--top,
  .submenu__footer {
    display: none;
  }

  .submenu__back {
    display: none;
  }

  .submenu__list {
    margin-top: 3.6em;
    margin-left: auto;
    padding-top: 4.8em;
    width: 100% * 582 / 1920;
    border-top: 1px solid $color__underline;
  }
}

@media (min-width: $width__notebook) {
  .submenu {
    top: 10em;
    padding: 0 100% * 46 / 1920;
  }
}
