.success > .container {
  display: block;
  padding-bottom: 6.4rem;
}

.success__wrapper {
  border-bottom: 1px solid $color__underline;
}

.success__announcement {
  margin: 0;
  margin-top: 4.8rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: normal;
  color: $color__black;
  text-transform: uppercase;
  text-align: center;
}

.success__btn,
.success__payment,
.success__options {
  display: none;
}

@media (min-width: $width__tablet) {
  .success__announcement br {
    display: none;
  }

  .success__info {
    margin: 0 auto;
    width: 42.3rem;
  }

  .success__btn,
  .success__options {
    display: block;
  }

  .success__payment {
    display: flex;
  }

  .success__payment .payment__item {
    width: 10.4rem;
  }
}

@media (min-width: $width__notebook) {
  .success > .container {
    padding-bottom: 27.8rem;
  }

  .success__announcement {
    margin-top: 9.2rem;
    font-size: 2.4rem;
  }

  .success__btn {
    margin-top: 10.4rem;
  }
}
