.banner {
  position: relative;
  font-size: 1rem;
}

.banner > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 18em;
  background-image: url("../img/banner__bg--mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/banner__bg--mobile@2x.jpg");
  }
}

.banner__title {
  --font-size-title-em: 0.9;
  margin: 0;
  font-family: inherit;
  font-size: calc(1em * var(--font-size-title-em));
  font-weight: 300;
  line-height: calc(11 / 9);
  color: $color__lightest;
  text-transform: uppercase;
  text-align: center;
}

.banner__highlight {
  --font-size-highlight-em: 2.8;
  display: block;
  margin-top: calc(0.3em / var(--font-size-highlight-em) / var(--font-size-title-em));
  font-size: calc(1em * var(--font-size-highlight-em) / var(--font-size-title-em));
  line-height: calc(34 / 28);
}

@media (min-width: $width__tablet) {
  .banner > .container {
    height: 22em;
    background-image: url("../img/banner__bg@1x.jpg");
  }

  .banner__title {
    --font-size-title-em: 1.5;
    line-height: calc(19 / 15);
  }

  .banner__highlight {
    --font-size-highlight-em: 4.8;
    margin-top: calc(0.1em / var(--font-size-em) / var(--font-size-title-em));
    line-height: calc(54 / 48);
  }
}

@media (min-width: $width__notebook) {
  .banner {
    overflow: hidden;
  }

  .banner > .container {
    height: 40.4rem;
  }

  .banner__title {
    --font-size-title-em: 1.8;
    position: relative;
    line-height: calc(22 / 18);
  }

  .banner__highlight {
    --font-size-highlight-em: 6.8;
    line-height: calc(82 / 68);
  }
}
