.filter {
  font-size: 1rem;
}

.filter > .container {
  position: relative;
  padding-bottom: 2.4em;
}

.filter__element {
  --font-size-em: 1.2;
  position: relative;
  display: block;
  padding: calc(1.1em / var(--font-size-em)) calc(1.6em / var(--font-size-em)) calc(1em / var(--font-size-em)) calc(1.6em / var(--font-size-em));
  width: 100%;
  font-family: inherit;
  font-size: calc(1em * var(--font-size-em));
  font-weight: 500;
  line-height: calc(14 / 12);
  color: $color__placeholder;
  text-transform: uppercase;
  background-color: $color__products-bg;

  option {
    font-family: inherit;
    font-size: calc(1em * var(--font-size-em) / var(--font-size-em));
    font-weight: 500;
    line-height: calc(14 / 12);
    color: $color__placeholder;
    text-transform: uppercase;
    background-color: $color__products-bg;
  }
}

.filter__element--trigger {
  margin-top: calc(2.4em / var(--font-size-em));
}

.filter__element--trigger:checked {
  color: $color__lightest;
  background-color: $color__filter-active;
}

.filter__element:not(.filter__element--trigger):checked + label {
  color: $color__font-submenu;
}

@media (min-width: $width__tablet) {
  .filter > .container {
    display: flex;
    justify-content: space-between;
  }

  .filter__block {
    width: 30%;
  }
}

@media (min-width: $width__notebook) {
  .filter > .container {
    padding-bottom: 4.8rem;
  }

  .filter__block {
    margin-top: 10rem;
    width: 357px;
  }

  .filter__list {
    margin-top: -1px;
  }

  .filter__item:not(:first-of-type) {
    margin-top: -1px;
  }

  .filter__element {
    --font-size-em: 1.8;
    margin: 0;
    padding: 1.4rem 1.6rem 1.6rem 1.6rem;
    font-weight: 300;
    line-height: calc(22 / 18);
    letter-spacing: 1px;
    border: 1px solid $color__filter-border;
  }

  .filter__element--trigger {
    background-color: $color__filter-bg--notebook;
  }

  .filter__element:not(.filter__element--trigger) + label {
    background-color: $color__lightest;
  }

  .filter__element:not(.filter__element--trigger):checked + label {
    background-color: $color__filter-bg--notebook;
  }
}
