.filter {
  font-size: 1rem;
}

.filter > .container {
  position: relative;
  padding-bottom: 2.4em;
}

.filter__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: transparent;
  border: none;
  opacity: 0;
  pointer-events: none;
}

.filter__element + label {
  --font-size-em: 1.2;
  position: relative;
  display: block;
  padding: calc(1.1em / var(--font-size-em)) calc(1.6em / var(--font-size-em)) calc(1em / var(--font-size-em)) calc(1.6em / var(--font-size-em));
  font-family: inherit;
  font-size: calc(1em * var(--font-size-em));
  font-weight: 500;
  line-height: calc(14 / 12);
  color: $color__placeholder;
  text-transform: uppercase;
  background-color: $color__products-bg;

  &::before {
    content: "";
    position: absolute;
    top: calc(1.8em / var(--font-size-em));
    right: calc(1.6em / var(--font-size-em));
    width: calc(1.3em / var(--font-size-em));
    height: 1px;
    background-color: $color__placeholder;
    transform-origin: 50%;
    transform: rotate(0);
    transition-duration: 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(1.8em / var(--font-size-em));
    right: calc(1.6em / var(--font-size-em));
    width: calc(1.3em / var(--font-size-em));
    height: 1px;
    background-color: $color__placeholder;
    transform-origin: 50%;
    transform: rotate(90deg);
    transition-duration: 0.3s;
  }
}

.filter__element--trigger + label {
  margin-top: calc(2.4em / var(--font-size-em));
}

.filter__element--trigger:checked + label {
  color: $color__lightest;
  background-color: $color__filter-active;

  &::before {
    opacity: 0;
  }

  &::after {
    transform: rotate(180deg);
    background-color: $color__lightest;
  }
}

.filter__element:not(.filter__element--trigger):checked + label {
  color: $color__font-submenu;

  &::before {
    opacity: 0;
  }

  &::after {
    transform: rotate(180deg);
    background-color: $color__font-submenu;
  }
}

.filter__list {
  display: none;
  margin: 0;
  margin-top: 2.4em;
  padding: 0;
  list-style: none;
}

.filter__item:not(:first-of-type) {
  margin-top: 1.2em;
}

.filter__element--trigger:checked ~ .filter__list {
  display: block;
}

@media (min-width: $width__tablet) {
  .filter > .container {
    display: flex;
    justify-content: space-between;
  }

  .filter__block {
    width: 30%;
  }
}

@media (min-width: $width__notebook) {
  .filter__block {
    width: 357px;
  }

  .filter__list {
    margin-top: -1px;
  }

  .filter__item:not(:first-of-type) {
    margin-top: -1px;
  }

  .filter__element + label {
    --font-size-em: 1.8;
    padding: 16px 16px 18px 16px;
    font-weight: 300;
    line-height: calc(22 / 18);
    letter-spacing: 1px;
    border: 1px solid $color__filter-border;

    &::before,
    &::after {
      top: calc(2.6em / var(--font-size-em));
      width: calc(1.6em / var(--font-size-em));
    }
  }

  .filter__element--trigger + label {
    background-color: $color__filter-bg--notebook;
  }

  .filter__element--trigger:checked + label {
    padding-bottom: calc(5.3em / var(--font-size-em));
    color: $color__black;
    background-color: $color__lightest;

    &::after {
      background-color: $color__icons;
    }
  }

  .filter__element:not(.filter__element--trigger) + label {
    background-color: $color__lightest;
  }

  .filter__element:not(.filter__element--trigger):checked + label {
    background-color: $color__filter-bg--notebook;
  }
}
