.stores > .container {
  position: relative;
  padding-top: 2.4rem;
  padding-bottom: 22.8rem;
}

.stores__heading {
  position: relative;
  margin: 0;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 4.6rem;
  color: $color__black;
  text-transform: uppercase;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    bottom: -5.9rem;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color__underline;
  }
}

.stores__back {
  display: flex;
  align-items: center;
  margin-top: 3.2rem;
  width: 6rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: $color__placeholder;
  text-transform: uppercase;
  vertical-align: center;
}

.stores__back svg {
  margin-right: 1.2rem;
  fill: none;
  stroke: $color__placeholder;
}

.stores__list {
  margin: 0;
  padding: 0;
  padding-top: 4.8rem;
  padding-bottom: 5.8rem;
  list-style: none;
}

.stores__contacts {
  margin: 0;
  padding: 0;
}

.stores__location {
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 3.4rem;
  color: $color__black;
  text-transform: uppercase;
}

.stores__item:not(:first-of-type) .stores__contacts {
  margin-top: 4.8rem;
}

.stores__location--city .stores__country {
  position: relative;

  &::after {
    content: ",";
    margin-left: -0.5rem;
  }
}

.stores__address {
  margin: 0;
  margin-top: 1.6rem;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  text-transform: uppercase;
}

.stores__contact {
  margin: 0;
  color: $color__black;
}

.stores__icon {
  display: none;
}

.stores__frame {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22.8rem;
  font-size: 0;
}

.stores__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stores__frame--map {
  display: none;
}

@media (min-width: $width__tablet) {
  .stores > .container {
    padding-bottom: 5rem;
  }

  .stores__heading {
    text-align: left;

    &::before {
      display: none;
    }
  }

  .stores__back {
    display: none;
  }

  .stores__list {
    display: flex;
    justify-content: space-between;
  }

  .stores__item--active .stores__country,
  .stores__item--active .stores__icon use,
  .stores__item--active .stores__city,
  .stores__item--active .stores__contact {
    color: $color__black;
    fill: $color__black;
  }

  .stores__item {
    width: 23rem;
    cursor: pointer;
  }

  .stores__item:not(:first-of-type) .stores__contacts {
    margin-top: 0;
  }

  .stores__location--city .stores__country {
    position: relative;

    &::after {
      content: ",";
      display: none;
    }
  }

  .stores__country {
    color: $color__social;
    transition-duration: 0.5s;
  }

  .stores__icon use {
    transition-duration: 0.5s;
  }

  .stores__city {
    display: block;
    font-size: 1.6rem;
    line-height: normal;
    color: $color__social;
    transition-duration: 0.5s;
  }

  .stores__address {
    font-size: 1rem;
  }

  .stores__location:not(.stores__location--city) + .stores__address {
    margin-top: calc(1.6rem + 1.9rem);
  }

  .stores__frame:not(.stores__frame--active) {
    display: none;
  }

  .stores__contact {
    display: block;
    color: $color__social;
    transition-duration: 0.5s;
  }

  .stores__frame--map {
    display: block;
    position: static;
    width: 100%;
    height: 30rem;
  }

  .stores__map {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

@media (min-width: $width__notebook) {
  .stores > .container {
    margin: 0 auto;
    padding: 6rem 0;
    width: 90%;
  }

  .stores__item {
    width: 32rem;
    cursor: pointer;
  }

  .stores__heading {
    font-size: 6.8rem;
    line-height: normal;
  }

  .stores__location {
    font-size: 0;
  }

  .stores__country {
    font-size: 4rem;
  }

  .stores__icon {
    display: inline;
    margin-left: 0.5rem;
  }

  .stores__icon use {
    fill: $color__social;
  }

  .stores__address {
    font-size: 1.4rem;
    line-height: normal;
  }
}

@media (min-width: $width__desktop) {
  .stores > .container {
    margin: 0 auto;
    padding: 8.8rem 0 12.4rem 0;
    width: 78.959%;
  }

  .stores__list {
    padding-top: 8.8rem;
    padding-bottom: 8.9rem;
  }

  .stores__city {
    font-size: 2.4rem;
    line-height: normal;
  }

  .stores__address {
    margin-top: 3.6rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 1px;
  }

  .stores__location:not(.stores__location--city) + .stores__address {
    margin-top: calc(3.6rem + 2.9rem);
  }

  .stores__frame--map {
    height: 42.9rem;
  }
}
