@font-face {
  font-family: "Museo Sans";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-100.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-100.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-100Italic.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-100Italic.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-300.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-300Italic.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-300Italic.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-500.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-500Italic.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-500Italic.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-700.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-700Italic.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-700Italic.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-900.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-900Italic.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-900Italic.woff") format("woff"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: "Museo Sans", "Arial", sans-serif;
  overflow: hidden; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0; }

.container {
  padding: 0 4.26667%; }

.page-container--back {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.page-container--shift {
  -webkit-transform: translateX(324px);
          transform: translateX(324px); }

.footer {
  height: 50vh;
  background-color: green;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

@media (min-width: 768px) {
  .container {
    padding: 0 1.95313%; } }

@media (min-width: 1260px) {
  .container {
    padding: 0 2.39583%; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a1a;
  z-index: 3; }

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.header__logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.header__logo-icon {
  width: 88px;
  height: 16px; }

.header__logo-icon use {
  fill: white; }

.header__nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.header__nav-shop {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

@media (min-width: 768px) {
  .header > .container {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .header__logo {
    -ms-flex-item-align: center;
        align-self: center; } }

@media (min-width: 1260px) {
  .header > .container {
    min-height: 102px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .header__logo-icon {
    width: 201px;
    height: 36px; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0; }

.nav__item:not(:first-of-type) {
  margin-left: 24px; }

.nav__item--tablet-plus {
  display: none; }

.nav__link {
  font-size: 0;
  background-color: transparent; }

.nav__item:hover .nav__link,
.nav__item--selected .nav__link {
  color: white; }

.nav__icon use,
.nav__icon use rect {
  fill: #acacac; }

@media (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%; }
  .nav__submenu {
    display: none; }
  .nav__list {
    height: 100%; }
  .nav__item {
    height: 100%; }
  .nav__item:not(:first-of-type):not(.nav__item--tablet-plus) {
    margin-left: 0; }
  .nav__item:not(.nav__item--tablet-plus) {
    display: none; }
  .nav__item--tablet-plus {
    display: block;
    margin-left: 24px; }
  .nav__item--search + .nav__item--tablet-plus {
    margin-left: 0; }
  .nav__item--tablet-plus .nav__link {
    display: block;
    font-family: inherit;
    font-size: 12px;
    font-weight: 300;
    line-height: 50px;
    color: #acacac;
    letter-spacing: 1.42px;
    text-transform: uppercase; } }

@media (min-width: 1260px) {
  .nav__item--tablet-plus .nav__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 102px;
    color: #acacac;
    letter-spacing: 1.42px;
    text-transform: uppercase; } }

.nav-shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-shop__item:not(:first-of-type) {
  margin-left: 23px; }

.nav-shop__item--tablet-plus {
  display: none; }

.nav-shop__link {
  font-size: 0;
  background-color: transparent; }

.nav-shop__icon use {
  fill: none;
  stroke: #acacac; }

.nav-shop__icon--fav use {
  stroke-width: 40px; }

@media (min-width: 768px) {
  .nav-shop {
    width: 40%; }
  .nav-shop__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%; }
  .nav-shop__item {
    height: 100%; }
  .nav-shop__item--tablet-plus {
    display: block; }
  .nav-shop__item:not(:first-of-type) {
    margin-left: 0; }
  .nav-shop__item:not(.nav-shop__item--faq) {
    margin-left: 23px; }
  .nav-shop__item--faq {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0; }
  .nav-shop__item--whishlist {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .nav-shop__item--sign {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .nav-shop__item--bag {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .nav-shop__link {
    display: block;
    font-family: inherit;
    font-size: 12px;
    font-weight: 300;
    line-height: 50px;
    color: #acacac;
    letter-spacing: 1.42px;
    text-transform: uppercase;
    cursor: pointer; }
  .nav-shop__item:hover .nav-shop__link,
  .nav-shop__item--selected .nav-shop__link {
    color: white; }
  .nav-shop__icon {
    display: none; } }

@media (min-width: 1260px) {
  .nav-shop__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 102px;
    color: #acacac;
    letter-spacing: 1.42px;
    text-transform: uppercase; } }

.submenu {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 16px;
  width: 324px;
  height: 100vh;
  font-size: 16px;
  background-color: white;
  -webkit-transform: translate(-324px);
          transform: translate(-324px);
  overflow-y: auto; }

.submenu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 17px;
  padding-bottom: 15px;
  border-bottom: 1px solid #9b9b9b;
  min-height: 50px; }

.submenu__title {
  margin: 0;
  font-family: "Museo Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: black;
  text-transform: uppercase; }

.submenu__btn {
  position: relative;
  margin-left: auto;
  padding: 0;
  width: 12px;
  height: 12px;
  font-size: 0;
  background-color: transparent;
  border: none;
  overflow: hidden; }
  .submenu__btn::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 150%;
    height: 1px;
    background-color: black;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .submenu__btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150%;
    height: 1px;
    background-color: black;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.submenu__content:not(.submenu__content--top):not(.submenu__content--lang) {
  padding-bottom: 243px;
  background-repeat: no-repeat;
  background-size: 100% 180px;
  background-position: 0 100%; }

.submenu__content--women {
  background-image: url("../img/submenu__bg--women@1x.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .submenu__content--women {
      background-image: url("../img/submenu__bg--women@2x.jpg"); } }

.submenu__content--men {
  background-image: url("../img/submenu__bg--men@1x.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .submenu__content--men {
      background-image: url("../img/submenu__bg--men@2x.jpg"); } }

.submenu__content--lang {
  padding-bottom: 395px;
  background-image: url("../img/submenu__bg--lang@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 347px;
  background-position: 0 100%; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .submenu__content--lang {
      background-image: url("../img/submenu__bg--lang@2x.jpg"); } }

.submenu__content--hidden {
  display: none; }

.submenu__content {
  margin-top: 36px; }

.submenu__list {
  display: grid;
  grid-template-columns: repeat(2, 132px);
  grid-auto-rows: calc(198px + 24px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.submenu__content:not(.submenu__content--top) .submenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 36px; }

.submenu__category {
  display: block;
  margin-top: 16px;
  font-family: "Museo Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: #292929;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center; }

.submenu__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  font-family: "Museo Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: #292929;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  border: none; }

.submenu__icon {
  margin-right: 12px; }

.submenu__icon use {
  stroke: black;
  fill: none; }

.submenu__footer {
  margin-top: auto; }

.low-lvl__item:not(:last-of-type) {
  margin-bottom: 16px; }

.low-lvl__item--sale {
  margin-top: 36px; }

.low-lvl__link {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: black;
  text-transform: uppercase; }

.low-lvl__item--sale .low-lvl__link {
  color: #cf3434; }

.subfooter {
  padding: 16px 0 21px 0;
  border-top: 1px solid #9b9b9b; }

.subfooter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.subfooter__link {
  font-family: inherit;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  color: #292929;
  text-transform: uppercase;
  letter-spacing: 1px; }

.promo__list .slick-list,
.promo__list .slick-track {
  height: 100%; }

.promo__list .slick-dots {
  position: absolute;
  bottom: 51px;
  left: calc(50% - 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0; }

.promo__list .slick-dots > li {
  font-size: 0; }

.promo__list .slick-dots > li:not(:last-of-type) {
  margin-right: 24px; }

.promo__list .slick-dots > li > button {
  margin: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  font-size: 0;
  line-height: 0;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer; }

.promo {
  margin-top: 50px; }

.promo__list {
  position: relative;
  margin: 0;
  padding: 0;
  height: calc(100vh - 50px);
  list-style: none; }

.promo__item {
  background-color: #9b9b9b;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.promo__item--1 {
  background-image: url("../img/promo__item-bg--1@1x.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo__item--1 {
      background-image: url("../img/promo__item-bg--1@2x.jpg"); } }

.promo__item--2 {
  background-image: url("../img/promo__item-bg--2@1x.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo__item--2 {
      background-image: url("../img/promo__item-bg--2@2x.jpg"); } }

.promo__item--3 {
  background-image: url("../img/promo__item-bg--3@1x.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo__item--3 {
      background-image: url("../img/promo__item-bg--3@2x.jpg"); } }

.promo__slogan {
  margin: 0 auto;
  margin-top: 64px;
  width: 286px;
  font-size: 32px;
  font-weight: 300;
  line-height: 46px;
  color: white;
  text-align: center;
  text-transform: uppercase; }

.promo__item--3 .promo__slogan {
  color: #0f0f0f; }

@media (min-width: 768px) {
  .promo__slogan {
    width: 800px;
    font-size: 80px;
    line-height: 100px; } }

@media (min-width: 1260px) {
  .promo {
    margin-top: 102px; }
  .promo__list {
    height: calc(100vh - 102px); }
  .promo__slogan {
    width: 950px;
    font-size: 100px;
    line-height: 130px; }
  .promo__item--1 .promo__slogan {
    text-align: left; }
  .promo__item--3 .promo__slogan {
    width: 1000px; } }

@media (min-width: 1920px) {
  .promo__slogan {
    width: 1155px;
    font-size: 120px;
    line-height: 170px; }
  .promo__item--3 .promo__slogan {
    width: 1155px; } }

.products__list {
  display: grid;
  grid-auto-rows: 232px;
  grid-row-gap: 8px;
  margin: 8px 0;
  padding: 0;
  list-style: none; }

.products__item {
  background-color: #9b9b9b;
  background-size: cover;
  background-position: 50% 70%;
  background-repeat: no-repeat; }

.products__item--1 {
  background-image: url("../img/product__item-bg--1@1x.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .products__item--1 {
      background-image: url("../img/product__item-bg--1@2x.jpg"); } }

.products__item--2 {
  background-image: url("../img/product__item-bg--2@1x.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .products__item--2 {
      background-image: url("../img/product__item-bg--2@2x.jpg"); } }

.products__item--3 {
  background-image: url("../img/product__item-bg--3@1x.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .products__item--3 {
      background-image: url("../img/product__item-bg--3@2x.jpg"); } }

.products__item--4 {
  background-image: url("../img/product__item-bg--4@1x.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .products__item--4 {
      background-image: url("../img/product__item-bg--4@2x.jpg"); } }

.products__item--5 {
  background-image: url("../img/product__item-bg--5@1x.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .products__item--5 {
      background-image: url("../img/product__item-bg--5@2x.jpg"); } }

.products__item--6 {
  background-image: url("../img/product__item-bg--6@1x.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .products__item--6 {
      background-image: url("../img/product__item-bg--6@2x.jpg"); } }

.products__item--7 {
  background-image: url("../img/product__item-bg--7@1x.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .products__item--7 {
      background-image: url("../img/product__item-bg--7@2x.jpg"); } }

.products__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.products__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0 21px;
  width: 98px;
  min-height: 36px;
  font-family: inherit;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: white; }

.products__hook {
  display: none;
  margin: 0; }

@media (max-width: 767px) {
  .products > .container {
    padding: 0; } }

@media (min-width: 768px) {
  .products__list {
    margin: 20px 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; }
  .products__item--3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3; }
  .products__item--5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
  .products__item:last-of-type {
    grid-column: 2 / -1; } }

@media (min-width: 1260px) {
  .products__list {
    margin: 44px 0;
    grid-auto-rows: 350px;
    grid-gap: 44px; }
  .products__item:hover {
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-box-shadow: 0 0 10px 0 black;
            box-shadow: 0 0 10px 0 black; }
  .products__link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 90px; }
  .products__name {
    width: 80%;
    min-height: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    background-color: transparent; }
  .products__name--dark {
    color: black; }
  .products__name--light {
    color: white; }
  .products__highlight {
    font-size: 50px;
    font-weight: 300;
    line-height: 65px; }
  .products__hook {
    display: block;
    margin-top: 20px;
    padding: 23px 0;
    width: 280px;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 2.08px;
    text-align: center;
    text-transform: uppercase; }
  .products__hook--dark {
    color: black;
    border: 1.5px solid black; }
  .products__hook--light {
    color: white;
    border: 1.5px solid white; } }

@media (min-width: 1920px) {
  .products__list {
    grid-auto-rows: 521px; }
  .products__link {
    padding-top: 121px; }
  .products__highlight {
    font-size: 68px;
    line-height: 82px; }
  .products__hook {
    margin-top: 36px; } }

.gender {
  display: none;
  padding-bottom: 68px; }

.gender__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  width: 100%;
  list-style: none; }
  .gender__list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #eaeaea;
    z-index: -1; }

.gender__item {
  width: 20%; }

.gender__img {
  width: 100%; }

.gender__link {
  padding: 23.5px 0;
  width: 280px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.08px;
  border: 1.5px solid black; }

.gender__link:hover {
  color: white;
  background-color: black;
  border: 1.5px solid transparent;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: 0 0 10px 0 #292929;
          box-shadow: 0 0 10px 0 #292929; }

.gender__link:not(:first-of-type) {
  margin-left: 44px; }

@media (min-width: 768px) {
  .gender {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (min-width: 768px) and (max-width: 1259px) {
  .gender {
    padding-bottom: 30px; }
  .gender__list {
    margin-bottom: 20px; }
  .gender__link {
    padding: 15px 0;
    width: 150px;
    font-size: 16px;
    line-height: 20px; } }

.smm__instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 48px; }

.smm__invitation {
  margin: 0;
  font-weight: 300;
  line-height: normal;
  color: black;
  text-transform: uppercase;
  text-align: center; }

.smm__invitation--instagram {
  font-size: 9px; }

.smm__link {
  display: inline-block;
  margin-top: 4px;
  font-family: inherit;
  font-size: 32px;
  font-weight: 300;
  line-height: 46px;
  color: #0f0f0f;
  text-transform: uppercase; }

.smm__img {
  margin-top: 16px;
  width: 100%; }

.smm__newsletter {
  padding-bottom: 48px; }

.smm__invitation:not(.smm__invitation--instagram) {
  margin-top: 32px;
  font-size: 28px;
  line-height: 34px; }

.smm__email {
  margin-top: 32px;
  padding: 12px 16px;
  width: 100%;
  font-family: inherit;
  font-size: 12px;
  font-weight: 100;
  line-height: 14px;
  color: #707070;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid #707070; }

.smm__email::-webkit-input-placeholder {
  color: #a2a2a2;
  text-transform: uppercase; }

.smm__email::-ms-input-placeholder {
  color: #a2a2a2;
  text-transform: uppercase; }

.smm__email::placeholder {
  color: #a2a2a2;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .smm {
    display: none; } }
