@font-face {
  font-family: "Museo Sans";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-100.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-100.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-100Italic.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-100Italic.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-300.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-300Italic.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-300Italic.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-500.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-500Italic.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-500Italic.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-700.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-700Italic.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-700Italic.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-900.woff") format("woff"); }

@font-face {
  font-family: "Museo Sans";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/exljbris - MuseoSansCyrl-900Italic.woff2") format("woff2"), url("../fonts/exljbris - MuseoSansCyrl-900Italic.woff") format("woff"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: "Museo Sans", "Arial", sans-serif;
  overflow: hidden; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0; }

.container {
  padding: 0 4.26667%; }

.page-container--back {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.page-container--shift {
  -webkit-transform: translateX(324px);
          transform: translateX(324px); }

.grid-main {
  height: 100vh;
  background-color: blue;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.footer {
  height: 50vh;
  background-color: green;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

@media (min-width: 768px) {
  .container {
    padding: 0 1.95313%; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a1a;
  z-index: 3; }

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.header__logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.header__logo-icon {
  width: 88px;
  height: 16px; }

.header__logo-icon use {
  fill: white; }

.header__nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.header__nav-shop {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

@media (min-width: 768px) {
  .header > .container {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .header__logo {
    -ms-flex-item-align: center;
        align-self: center; } }

@media (min-width: 1260px) {
  .header > .container {
    min-height: 102px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .header__logo-icon {
    width: 201px;
    height: 36px; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0; }

.nav__item:not(:first-of-type) {
  margin-left: 24px; }

.nav__item--tablet-plus {
  display: none; }

.nav__link {
  font-size: 0;
  background-color: transparent; }

.nav__item:hover .nav__link,
.nav__item--selected .nav__link {
  color: white; }

.nav__icon use,
.nav__icon use rect {
  fill: #acacac; }

@media (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%; }
  .nav__submenu {
    display: none; }
  .nav__list {
    height: 100%; }
  .nav__item {
    height: 100%; }
  .nav__item:not(:first-of-type):not(.nav__item--tablet-plus) {
    margin-left: 0; }
  .nav__item:not(.nav__item--tablet-plus) {
    display: none; }
  .nav__item--tablet-plus {
    display: block;
    margin-left: 24px; }
  .nav__item--search + .nav__item--tablet-plus {
    margin-left: 0; }
  .nav__item--tablet-plus .nav__link {
    display: block;
    font-family: inherit;
    font-size: 12px;
    font-weight: 300;
    line-height: 50px;
    color: #acacac;
    letter-spacing: 1.42px;
    text-transform: uppercase; } }

@media (min-width: 1260px) {
  .nav__item--tablet-plus .nav__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 102px;
    color: #acacac;
    letter-spacing: 1.42px;
    text-transform: uppercase; } }

.nav-shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-shop__item:not(:first-of-type) {
  margin-left: 23px; }

.nav-shop__item--tablet-plus {
  display: none; }

.nav-shop__link {
  font-size: 0;
  background-color: transparent; }

.nav-shop__icon use {
  fill: none;
  stroke: #acacac; }

.nav-shop__icon--fav use {
  stroke-width: 40px; }

@media (min-width: 768px) {
  .nav-shop {
    width: 40%; }
  .nav-shop__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%; }
  .nav-shop__item {
    height: 100%; }
  .nav-shop__item--tablet-plus {
    display: block; }
  .nav-shop__item:not(:first-of-type) {
    margin-left: 0; }
  .nav-shop__item:not(.nav-shop__item--faq) {
    margin-left: 23px; }
  .nav-shop__item--faq {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0; }
  .nav-shop__item--whishlist {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .nav-shop__item--sign {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .nav-shop__item--bag {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .nav-shop__link {
    display: block;
    font-family: inherit;
    font-size: 12px;
    font-weight: 300;
    line-height: 50px;
    color: #acacac;
    letter-spacing: 1.42px;
    text-transform: uppercase;
    cursor: pointer; }
  .nav-shop__item:hover .nav-shop__link,
  .nav-shop__item--selected .nav-shop__link {
    color: white; }
  .nav-shop__icon {
    display: none; } }

@media (min-width: 1260px) {
  .nav-shop__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 102px;
    color: #acacac;
    letter-spacing: 1.42px;
    text-transform: uppercase; } }

.submenu {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 16px;
  width: 324px;
  height: 100vh;
  font-size: 16px;
  background-color: white;
  -webkit-transform: translate(-324px);
          transform: translate(-324px);
  overflow-y: auto; }

.submenu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 17px;
  padding-bottom: 15px;
  border-bottom: 1px solid #9b9b9b;
  min-height: 50px; }

.submenu__title {
  margin: 0;
  font-family: "Museo Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: black;
  text-transform: uppercase; }

.submenu__btn {
  position: relative;
  margin-left: auto;
  padding: 0;
  width: 12px;
  height: 12px;
  font-size: 0;
  background-color: transparent;
  border: none;
  overflow: hidden; }
  .submenu__btn::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 150%;
    height: 1px;
    background-color: black;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .submenu__btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150%;
    height: 1px;
    background-color: black;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.submenu__content:not(.submenu__content--top):not(.submenu__content--lang) {
  padding-bottom: 243px;
  background-repeat: no-repeat;
  background-size: 100% 180px;
  background-position: 0 100%; }

.submenu__content--women {
  background-image: url("../img/submenu__bg--women.jpg"); }

.submenu__content--men {
  background-image: url("../img/submenu__bg--men.jpg"); }

.submenu__content--lang {
  padding-bottom: 395px;
  background-image: url("../img/submenu__bg--lang.jpg");
  background-repeat: no-repeat;
  background-size: 100% 347px;
  background-position: 0 100%; }

.submenu__content--hidden {
  display: none; }

.submenu__content {
  margin-top: 36px; }

.submenu__list {
  display: grid;
  grid-template-columns: repeat(2, 132px);
  grid-auto-rows: calc(198px + 24px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.submenu__content:not(.submenu__content--top) .submenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 36px; }

.submenu__category {
  display: block;
  margin-top: 16px;
  font-family: "Museo Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: #292929;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center; }

.submenu__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  font-family: "Museo Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: #292929;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  border: none; }

.submenu__icon {
  margin-right: 12px; }

.submenu__icon use {
  stroke: black;
  fill: none; }

.submenu__footer {
  margin-top: auto; }

.low-lvl__item:not(:last-of-type) {
  margin-bottom: 16px; }

.low-lvl__item--sale {
  margin-top: 36px; }

.low-lvl__link {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: black;
  text-transform: uppercase; }

.low-lvl__item--sale .low-lvl__link {
  color: #cf3434; }

.subfooter {
  padding: 16px 0 21px 0;
  border-top: 1px solid #9b9b9b; }

.subfooter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.subfooter__link {
  font-family: inherit;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  color: #292929;
  text-transform: uppercase;
  letter-spacing: 1px; }
