html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font__main;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.container {
  padding: 0 100% * 16 / 375;
}

.page-container--back {
  transform: translateX(0);
}

.page-container--shift {
  transform: translateX(324px);
}

.grid-main {
  height: 100vh;
  background-color: blue;
  transition-duration: 0.5s;
}

.footer {
  height: 50vh;
  background-color: green;
  transition-duration: 0.5s;
}
