html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.grid-page {
  display: grid;
  margin: 0 auto;
  min-width: $width__mobile;
}

.container {
  padding: 0 100% * 16 / 375;
}
