@keyframes dropDown {
  0% {
    transform: translateY(-300px);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
  }

  25% {
    background-color: rgba(0, 0, 0, 0);
  }

  60% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  100% {
    transform: translateY(-300px);
    opacity: 0;
    pointer-events: none;
  }
}

@mixin fontSizeHeight ($size, $height: normal) {
  $font-size-mixin: $size / 10;

  @if $height != normal {
    $line-height-mixin: $height / $size;
    line-height: $line-height-mixin;
  }

  @else {
    line-height: normal;
  }
  font-size: 1rem * $font-size-mixin;
}

html {
  --projectScale: 0.69;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: calc(62.5% * var(--projectScale));
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font__main;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.container {
  width: 100%;
  padding: 0 100% * 16 / 375;
}

.page-container--back {
  transform: translateX(0);
}

.page-container--shift {
  transform: translateX(32.4em);
}

.main-container {
  padding-top: 6em;
  transition-duration: 0.5s;
}

.btn {
  --btn-font-size: 1.2;
  display: block;
  margin: 0;
  padding: calc(1.5em / var(--btn-font-size)) calc(3em / var(--btn-font-size)) calc(1.4em / var(--btn-font-size)) calc(3em / var(--btn-font-size));
  width: 100%;
  font-size: calc(1em * var(--btn-font-size));
  font-weight: 500;
  line-height: calc(1.4em / var(--btn-font-size));
  color: $color__lightest;
  text-transform: uppercase;
  text-align: center;
  background-color: $color__filter-active;
  border: none;
}

.btn--active {
  color: $color__lightest;
  background-color: $color__filter-active;
}

a.link--opened:not([href]) {
  color: $color__lightest;
  pointer-events: none;

  &::before {
    display: none;
  }
}

@media (max-width: $width__tablet) {
  html {
    --projectScale: 1;
    box-sizing: border-box;
    overflow-y: scroll;
    font-size: calc(62.5% * var(--projectScale));
  }

  .main-container {
    padding-top: 5em;
  }
}

@media (min-width: $width__tablet) {
  .container {
    padding: 0 100% * 15 / 768;
  }
}

@media (min-width: $width__notebook) {
  .main-container {
    padding-top: 10em;
  }

  .container {
    padding: 0 100% * 46 / 1920;
  }
}

@media (min-width: $width__desktop) {
  .modal__title {
    --font-size-em: 4;
  }
}
