$width__mobile: 375px;
$width__tablet: 768px;
$width__notebook: 1260px;
$width__desktop: 1920px;

$font__main: "Museo Sans", "Arial", sans-serif;

$color__lightest: rgb(255, 255, 255);
$color__products-bg: #eaeaea;
$color__separators: rgb(155, 155, 155);
$color__filter-border: #979797;
$color__filter-bg--notebook: #f4f4f4;
$color__placeholder: #a2a2a2;
$color__underline: #707070;
$color__icons: #acacac;
$color__filter-active: #3f3f3f;
$color__font-submenu: #292929;
$color__darkest: rgb(26, 26, 26);
$color__darkest2: #0f0f0f;
$color__black: rgb(0, 0, 0);
$color__highlight: #cf3434;
$color__footer-bg: #1a1a1a;
$color__social: #bebebe;

$retina__dpi: 144dpi;
$retina__dppx: 1.5dppx;
