.cart {
  font-size: 1rem;
  background-color: $color__lightest;
}

.cart > .container {
  padding-bottom: 3.6em;
}

.cart__wrapper {
  padding-top: 2.4em;
  padding-bottom: 1.2em;
}

.cart__heading {
  margin: 0;

  @include fontSizeHeight($size: 32, $height: 56);
  font-weight: 300;
  color: $color__black;
  text-transform: uppercase;
  text-align: center;
}

.cart__back {
  --font-size-em: 1.2;
  display: flex;
  align-items: center;
  margin-top: calc(3.2em / var(--font-size-em));
  width: calc(14em / var(--font-size-em));

  @include fontSizeHeight(12, 14);
  font-weight: 500;
  color: $color__placeholder;
  text-transform: uppercase;
}

.cart__icon use {
  fill: none;
  stroke: $color__placeholder;
}

.cart__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $color__underline;
}

.cart__data {
  position: relative;
  margin-bottom: 7.7em;
  padding-top: 2.4em;
  padding-bottom: 2.8em;
}

.cart__error {
  position: absolute;
  bottom: 1px;
  left: 0;
  margin: 0;

  @include fontSizeHeight($size: 9, $height: 11);
  font-weight: 300;
  color: $color__highlight;
  text-transform: uppercase;
}

.cart__error--hidden {
  display: none;
}

.cart__key {
  --font-size-em: 1.6;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: calc(0.8em / var(--font-size-em));

  @include fontSizeHeight($size: 16);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cart__value--empty {
  color: $color__placeholder;
}

.cart__btn {
  padding: calc(1.1em / var(--btn-font-size)) 20% calc(1em / var(--btn-font-size)) 20%;
  background-color: $color__social;
}

.cart__btn--checkout {
  margin-top: calc(2.4em / var(--btn-font-size));
}

.cart__btn--continue {
  margin-top: calc(2em / var(--btn-font-size));
}

.cart__payment {
  display: none;
}

.cart__options {
  margin-top: 4.8em;
  border-bottom: 1px solid $color__underline;
}

@media (min-width: $width__tablet) {
  .cart > .container {
    display: grid;
    grid-template-columns: 57.33% auto;
    grid-template-rows: auto auto auto;
    padding-bottom: 6.4em;
  }

  .cart__wrapper {
    grid-column: 1 / -1;
    padding-top: 5.9em;
    padding-bottom: 4em;
  }

  .cart__heading {
    @include fontSizeHeight($size: 40, $height: 48);
    letter-spacing: 2px;
  }

  .cart__back {
    margin-top: 56px;
    width: 210px;

    @include fontSizeHeight($size: 18, $height: 14);
    font-weight: 300;
  }

  .cart__icon {
    margin-right: 1.6rem;
    width: 0.9rem;
    height: 1.4rem;
  }

  .cart__content {
    grid-row: 2 / 4;
  }

  .cart__form {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 25em;
    height: auto;
  }

  .cart__key--subtotal {
    order: 1;
    margin: 0;
  }

  .cart__key--delivery {
    order: 2;
  }

  .cart__data {
    order: 3;
    margin: 0;
  }

  .cart__key--total {
    order: 4;
    margin-top: calc(6.5em / var(--font-size-em));
    padding-bottom: 24px;
    border-bottom: 1px solid $color__underline;
  }

  .cart__btn--checkout {
    order: 5;
    margin-top: calc(4.8em / var(--btn-font-size));
  }

  .cart__btn--continue {
    order: 6;
  }

  ul.cart__payment {
    order: 7;
    margin-top: 3.7rem;
  }

  .cart__options {
    order: 7;
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    border-bottom: 1px solid $color__underline;
  }
}

@media (min-width: $width__notebook) {
  .cart__form {
    width: 42.4em;
  }

  .cart__data {
    padding-top: 4.8em;
  }

  .cart__error {
    @include fontSizeHeight($size: 12, $height: 14);
  }

  .cart__key--total {
    margin-top: calc(3.7em / var(--font-size-em));
  }

  .cart__btn {
    --font-size-em: 1.8;
    padding: 1.7rem 15%;

    @include fontSizeHeight($size: 18);
    font-weight: 700;
  }

  .cart__btn--continue {
    margin-top: calc(1.6em / var(--font-size-em));
  }
}

@media (min-width: $width__desktop) {
  .cart__key {
    --font-size-em: 2.4;

    @include fontSizeHeight($size: 24);
  }

  .cart__key--delivery {
    margin-top: calc(2em / var(--font-size-em));
  }
}
