.item {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 3.2em;
  padding: 3.6em 0 1.6em 0;
  font-size: 1rem;
  border-top: 1px solid $color__underline;
}

.item__description {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;

  @include fontSizeHeight($size: 12, $height: 14);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.item__name {
  max-width: 70%;
}

.item__price {
  margin: 0;
}

.item__frame {
  grid-column: 2 / 3;
  margin-left: auto;
  width: 12.8em;
  height: 8.8em;
  background-color: $color__products-bg;
}

.item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__wrapper {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.item__increment,
.item__decrement {
  display: none;
}

.item__key {
  --font-size-em: 1.2;
  margin: 0;

  @include fontSizeHeight($size: 12);
  font-weight: 100;
  color: $color__placeholder;
  text-transform: uppercase;
}

.item__key:not(:first-of-type) {
  margin-top: calc(2.1em / var(--font-size-em));
}

.item__value {
  @include fontSizeHeight($size: 12);
  font-weight: 300;
  color: $color__black;
}

.item__remove {
  --font-size-em: 1.2;
  margin-top: calc(2.2em / var(--font-size-em));
  padding: 0;

  @include fontSizeHeight($size: 12);
  font-weight: 100;
  color: #333333;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.item__subtotal {
  display: none;
}

@media (min-width: $width__tablet) {
  .item {
    grid-template-columns: repeat(2, 21em);
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 0;
    padding: 3.6em 0;
  }

  .item__description,
  .item__wrapper {
    padding-left: 2.3rem;
  }

  .item__description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .item__name {
    max-width: 100%;
  }

  .item__price {
    display: none;
  }

  .item__frame {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    margin-left: 0;
    width: 100%;
    height: 150px;
  }

  .item__wrapper {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .item__decrement,
  .item__increment {
    position: relative;
    display: block;
    font-size: 0;
    background-color: transparent;
    border: none;

    &::before {
      font-size: 1.2rem;
      line-height: normal;
    }
  }

  .item__decrement {
    &::before {
      content: "-";
    }
  }

  .item__increment {
    &::before {
      content: "+";
    }
  }

  .item__key--quantity .item__value {
    display: flex;
    justify-content: center;
    min-width: 1.3rem;
  }

  .item__remove {
    position: absolute;
    top: 3.4rem;
    right: 1.2rem;
    margin: 0;
    width: 2rem;
    height: 2rem;
    font-size: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0.3rem;
      left: 0.4rem;
      width: 1.8rem;
      height: 1px;
      background-color: $color__underline;
      transform: rotate(45deg);
      transform-origin: 0 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0.3rem;
      right: 0.4rem;
      width: 1.8rem;
      height: 1px;
      background-color: $color__underline;
      transform: rotate(-45deg);
      transform-origin: 100% 0;
    }
  }

  .item__key:first-of-type {
    margin-top: 2.4rem;
  }

  .item__key:not(:first-of-type) {
    margin-top: 1.6rem;
  }

  .item__key--quantity {
    display: flex;
    align-items: center;
  }

  .item__subtotal {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 1.6rem;
    padding: 0;
    width: 100%;
  }

  .item__subtotal .item__key {
    margin: 0 3rem 0 0;
    padding: 0;

    @include fontSizeHeight($size: 16);
    font-weight: 300;
    color: $color__black;
  }

  .item__subtotal .item__value {
    margin: 0;
    padding: 0;

    @include fontSizeHeight($size: 16);
  }
}

@media (min-width: $width__notebook) {
  .item {
    grid-template-columns: 35em auto auto;
  }

  .item__name {
    @include fontSizeHeight($size: 18);
    font-weight: 300;
  }

  .item__frame {
    height: 25rem;
  }

  .item__key {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: normal;
  }

  .item__key--quantity {
    width: 100%;
  }

  .item__decrement,
  .item__increment {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    width: 2.4rem;

    &::before,
    &::after {
      font-size: 1.8rem;
      font-weight: 300;
      line-height: normal;
    }
  }

  .item__subtotal {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: normal;
  }

  .item__subtotal .item__key {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: normal;
  }
}

@media (min-width: $width__desktop) {
  .item {
    grid-template-columns: 44.7rem auto auto;
  }

  .item__frame {
    height: 30.8rem;
  }

  .item__wrapper {
    grid-column: 2 / -1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .item__key--size {
    width: 25%;
  }

  .item__subtotal {
    justify-content: flex-end;
    width: calc(100% - 25%);
  }

  .item__subtotal .item__key {
    margin-right: 1rem;
  }
}
