.selection {
  position: relative;
  font-size: 1rem;
}

.selection:not(:first-of-type) {
  margin-top: 2.4em;
}

.selection__method {
  position: relative;
  display: block;
  padding: 1.1rem 4.2rem 1rem 1.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: normal;
  color: $color__placeholder;
  text-transform: uppercase;
  background-color: $color__products-bg;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 1.6rem;
    width: 1.3rem;
    height: 1px;
    background-color: $color__icons;
    transition-duration: 0.3s;
    transform: rotate(0);
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 1.6rem;
    width: 1.3rem;
    height: 1px;
    background-color: $color__icons;
    transition-duration: 0.3s;
    transform-origin: 50% 50%;
    transform: rotate(90deg);
  }
}

.selection__method--selected {
  color: $color__lightest;
  background-color: $color__filter-active;

  &::before,
  &::after {
    background-color: $color__lightest;
  }
}

.selection[open] .selection__method {
  color: $color__lightest;
  background-color: $color__filter-active;

  &::before {
    opacity: 0;
  }

  &::after {
    background-color: $color__lightest;
    transform: rotate(0);
  }
}

.selection__method::-webkit-details-marker {
  display: none;
}

.selection__list {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  padding-top: 2.4rem;
  width: 100%;
  background-color: $color__lightest;
  list-style: none;
  overflow: hidden;
  z-index: 2;
}

.selection__item:not(:first-of-type) {
  margin-top: 1.2rem;
}

.selection__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  background-color: transparent;
  border: none;
  pointer-events: none;
  opacity: 0;
}

.selection__input + label {
  display: block;
  padding: 1.1rem 4.2rem 1rem 1.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: normal;
  color: $color__placeholder;
  text-transform: uppercase;
  background-color: $color__products-bg;
  cursor: pointer;
}

@media (min-width: $width__tablet) {
  .selection__method {
    background-color: transparent;
    border: 1px solid $color__placeholder;
  }

  .selection__method--selected {
    color: $color__black;
    background-color: $color__filter-bg--notebook;

    &::before,
    &::after {
      background-color: $color__icons;
    }
  }

  .selection[open] .selection__method {
    color: $color__placeholder;
    background-color: transparent;

    &::before {
      opacity: 0;
    }

    &::after {
      background-color: $color__placeholder;
      transform: rotate(0);
    }
  }

  .selection__list {
    position: relative;
    padding: 0;
  }

  .selection__item {
    border-right: 1px solid $color__placeholder;
    border-bottom: 1px solid $color__placeholder;
    border-left: 1px solid $color__placeholder;
  }

  .selection__item:not(:first-of-type) {
    margin-top: 0;
  }

  .selection__item:hover {
    background-color: $color__filter-bg--notebook;
  }

  .selection__item:hover .selection__input + label {
    color: $color__black;
  }

  .selection__input + label {
    background-color: transparent;
  }
}

@media (min-width: $width__notebook) {
  .selection__method,
  .selection__input + label {
    padding: 1.2rem 2.5rem 1.4rem 2.5rem;
    font-size: 1.6rem;
  }
}

@media (min-width: $width__desktop) {
  .selection__method,
  .selection__input + label {
    padding: 1.6rem 3.3rem 1.8rem 3.3rem;
    font-size: 1.8rem;
  }
}
