@mixin font($weight) {
  --font-size-em: 1.2;
  font-size: calc(1em * var(--font-size-em));
  font-weight: $weight;
  line-height: calc(18 / 12);
  font-style: normal;
  color: $color__black;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about {
  font-size: 1rem;
}

.about__contacts {
  margin-top: 2.4em;
}

.about__email {
  @include font(300);
}

.about__owner {
  margin: 0;
  margin-top: calc(0.5em / var(--font-size-em));

  @include font(700);
}

.about__frame {
  margin-top: 4.8rem;
  height: 100vw;
}

.about__img {
  height: 100%;
}

@media (max-width: 767px) {
  .about__contacts {
    padding: 0 100% * 16 / 375;
  }
}

@media (min-width: $width__tablet) {
  .about > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-top: 4.8em;
  }

  .about__wrapper {
    grid-column: 2 / 3;
    grid-row: 1  / 2;
    margin: 0 auto;
    width: 85%;
  }

  .about__heading {
    margin: 0;
  }

  .about__frame--1 {
    grid-column: 1 / 2;
    grid-row: 1  / 2;
    margin: 0;
    height: 45rem;
  }
}

@media (min-width: $width__notebook) {
  .about > .container {
    padding-top: 12.4em;
    padding-bottom: 12.4em;
  }

  .about__heading {
    --font-size-em: 5;
    font-size: calc(1em * var(--font-size-em));
    line-height: normal;
  }

  .about p.about__descriptor {
    --font-size-em: 1.8;
    margin-top: calc(4.8em / var(--font-size-em));
    font-size: calc(1em * var(--font-size-em));
  }

  .about__frame--1 {
    width: 97.6%;
    height: 66.4rem;
  }

  .about__contacts {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 3em;
  }

  .about__email {
    --font-size-em: 1.8;
    order: 2;
    margin-top: calc(1.6em / var(--font-size-em));
    line-height: calc(24 / 18);
    letter-spacing: 1px;
  }

  .about__owner {
    --font-size-em: 3;
    order: 1;
    margin: 0;
    line-height: normal;
    letter-spacing: 2px;
  }
}

@media (min-width: $width__desktop) {
  .about > .container {
    padding-bottom: 23.1em;
  }

  .about__wrapper {
    width: 70%;
  }

  .about__heading {
    --font-size-em: 6.8;
  }

  .about p.about__descriptor {
    margin-top: calc(6.4em / var(--font-size-em));
  }

  .about__contacts {
    margin-top: 5.9em;
  }

  .about__owner {
    --font-size-em: 4;
    margin-top: 0;
  }
}
