.whishlist--empty .whishlist__list {
  display: none;
}

.whishlist > .container {
  padding-top: 2.4rem;
}

.whishlist__wrapper {
  padding-bottom: 1.2rem;
  border-bottom: 1px solid $color__underline;
}

.whishlist__heading {
  margin: 0;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 4.6rem;
  color: $color__black;
  text-transform: uppercase;
  text-align: center;
}

.whishlist__back {
  display: flex;
  align-items: center;
  margin-top: 3.2rem;
  width: 14rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: $color__placeholder;
  text-transform: uppercase;
}

.whishlist__icon use {
  fill: none;
  stroke: $color__placeholder;
}

.whishlist__empty {
  margin: 0;
  margin-top: 3.6rem;
  margin-bottom: 9.4rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7rem;
  color: $color__black;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.35px;
}
